<section>
    <div class="container clearfix">
        <h1>Применение чистотела при онкологических  заболеваниях</h1>

        <h3>Предисловие</h3>
        <p>Сок чистотела, предлагаемый в нашем магазине,  изготовлен  и аттестован как косметическая жидкость. Это 100 % натуральный сок  высокой очистки и, первоначально, предлагался для лечения прыщей, угрей и других кожных заболеваний.</p>
        <p>Но жизнь внесла свои коррективы!!!   Большинство покупателей, зная, что продукт имеет высокое качество и не содержит  консервантов, стали применять его для лечения онкологических заболеваний под наблюдением врачей и весьма успешно.  Множество благодарственных писем, тому подтверждение. Причем, применяли его при лечении заболеваний желудка и 12-перстной кишки, аденомы простаты, щитовидной железы, полипов в желчном пузыре и кишечнике,  мастопатии и др.</p>
        <p>Детям убирали аденоиды, выводили моллюсков (в медицинских учреждениях их выковыривают  из под кожи).</p>
        <p>Поэтому,  обобщив опыт наших покупателей, мы добавили статью по использованию сока при лечении онкологических заболеваний. Такое лечение проводится под наблюдением врача.</p>
        <p>Я не называю имен и фамилий, тех с кем приходилось общаться, но если кому-то понадобится дополнительное общение - пишите, поможем получить дополнительную информацию непосредственно у тех, кто рассказал нам  о ней.</p>

        <h3>Фармакологические свойства</h3>
        <p>Фармакологические свойства чистотела подтверждены наукой.</p>
        <p>Экспериментально и клиническими исследованиями  (клиника госпитальной хирургии Куйбышевского  медицинского института) установлено, что чистотел задерживает рост злокачественных опухолей, поэтому рекомендуется при наличии предопухолевых состояний (например полипоза), а также после оперативного удаления раковых опухолей  как средство, тормозящее развитие метастазов.</p>
        <p>Химический состав растения чистотел представлен рядом сильнодействующих веществ. Среди них – алкалоиды: хелидонин, гомохелидонин, холеретрин, сангвинарин, протопин и др., (свыше 20),  эфирные масла, каротин, аскорбиновая кислота (до1000мг%), сапонины, флавоноиды  горечи, органические кислоты: хелидоновая, яблочная, лимонная и янтарная, смолистые вещества.</p>
        <p>Благодаря этому,  чистотел обладает множеством эффектов: болеутоляющим,  спазмолитическим,  антимикробным,  противовоспалительным,  противозудным,  ранозаживляющим,  мочегонным, прижигающим, слабительным,  антиаллергическим.</p>
        <p>Он существенно снижает или предупреждает развитие некоторых грибковых заболеваний, оказывает антивирусное действие.</p>
        <p>Все, сказанное выше касается сока чистотела, только изготовленного без применения консервантов, т.е. без спирта. Лабораторные исследования  подтвердили, что добавление спирта в сок изменяет его свойства настолько, что практически применение его для лечения опухолей нецелесообразно, т.к. алколоиды, воздействующие на опухоль, практически исчезают. Сок, полученный в другое время года, а  также отвары, настои не оказывают на опухоли никакого воздействия.</p>
        <p>Предлагаемый  сок чистотела, приготовлен из травы сорванной и переработанной, в период цветения (100% натуральный сок) по оригинальной  технологии и без применения консервантов,  сохраняет все свойства натурального сока травы Чистотел в период цветения и позволяет проводить процедуры не только в период  цветения  травы, а в любое время года.</p>

        <h3>Как принимать сок чистотела внутрь?</h3>

        <p>Прежде чем принимать сок внутрь, надо обратить внимание на состояние почек и печени, т.к. основная нагрузка придется на эти органы.</p>
        <p>Начинаем с 3-4 капель. Капаем в столовую ложку 4 капли сока, добавляем воды до полной ложки и выпиваем. Принимать за полчаса до еды утром и вечером. Через день увеличиваем число капель до 5. И т. д.  до 15 капель. Принимать по 15 капель можно 2-3 месяца подряд, смотреть по самочувствию.  Перерыв делать на 3-4 недели. Потом уже сразу  начинать с 15 капель.</p>
        <p>Предлагаемый  в магазине сок можно применять внутрь, по рекомендации народных целителей, врачей.</p>
        <p>Мы предлагаем в магазине сок только первого года изготовления, хотя срок его хранения 5 лет.</p>

        <p>При приеме внутрь сок попадает в желудок, поэтому, чтобы не развился дисбактериоз,  необходимо принимать  препараты, поддерживающие микрофлору кишечника. Какие? Посоветуйтесь со специалистом в ЭТОЙ ОБЛАСТИ МЕДИЦИНЫ.</p>
        <p>Можно употреблять АКТИМЕЛЬ или другие продукты содержащие полезные бактерии. Он содержит именно те бактерии, которые должны находиться у нас в кишечнике, и которых, практически у каждого второго, там нет. Т.к. частое применение антибиотиков уничтожает нужные бактерии, и в нем поселились другие, которые чужды организму и отравляют его своими отходами.</p>
        <p>Покупать Актимель в магазине - накладно, т.к для восстановления микрофлоры надо принимать  по две-три баночки в один прием.</p>
        <p>Можно изготовить его самостоятельно.  И есть его столько, сколько захочется, а вначале будет очень хотеться, организм будет требовать.</p>
        <p>При лечении  онкологических  заболеваний, нужно учитывать еще  зашлакованность кишечника  и закисление организма, которые и приводят к образованию опухолей. Поэтому желательно проводить чистку кишечника от шлаков,  и проверять  рН слюны и мочи.</p>
        <p>Обычно, чистку кишечника проводят с помощью клизм (см. статью Клизма) или же любым другим способом. А раскисление организма проводят с помощью обычных ванн с добавлением соды (1 пачка пищевой соды на ванну), которые принимают через день по 30-40 минут.</p>
    </div>
</section>
<?=echoBlock('contacts')?>
