<section class="row row3" id="a1">
    <div class="container clearfix">
        <div class="col-sm-12 col-md-12">
            <h1>Контакты</h1>
            <div>
                <p>
                    Интернет-магазин "Сок чистотела"
                </p>
                <p>
                    www.sok-chistotela.ru
                </p>
                <p>
                    Индивидуальный предприниматель Клепиков А. М.
                </p>
                <p>
                    346448
                    Российская Федерация, Ростовская обл., г. Новочеркасск, ул. Станичная, 21
                </p>
                <p>
                    Тел. менеджера: +7 (951) 824-99-44
                </p>
                <p>
                    E-mail: sok-chistotela@yandex.ru
                </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-12">
            <div class="map-wrapper">
                <div class="map">
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4ec7516397e633316690fe39bad2f9b67d2deb32f5565bd7736a2e1269da4458&amp;width=100%25&amp;height=600&amp;lang=ru_RU&amp;scroll=false"></script>
                </div>
            </div>
        </div>
    </div>
</section>
