<style>
    .item{
        border: 1px solid #616161;
        padding: 20px;
        text-align: center;
        margin-top: 35px;
        background-color: #fff;
        box-shadow: 1px 1px 0px 10px #fff;
    }
    .item p{
        color: #888888;
        text-align: left;
        outline: none;
        font-family: Arial, sans-serif;
        font-size: 12px;
    }
    .item a{
        text-decoration: none;
        color: #2f2f2f;
    }
    .item:hover{
        sbackground-color: #c0c0c0;
    }
    .addButtom{
        margin: auto;
        width: 600px;
        text-align: center;
        margin-top: 20px;
    }
    .load_page{
        background-image:  url('../../img/103.gif');
        height: 25px;
        width: 160px;
        display: inline-flex;
        display: none;
    }
</style>

<?
if(!empty($_GET['page'])){
    $w = ++$_GET['page'];
}else{
    $w = '2';
}
?>
<script>
    var pagen = <?=$w?>;
    $(()=>{
        $('.next_page').append('<a href="?page='+pagen+'" onclick="pagen++;page(pagen);return false;" id="next_page_but">Ещё</a>').appendTo('.next_page');
    });
</script>
<script>
    var router = new HashRouter();

    function open_modal(id) {
        document.body.style.overflowY = 'hidden';
        let modals = document.getElementById(id);
        modals.classList.add('modal_visible');
        console.log(id)
        return false;
    }
    function close_modal(id) {
        history.replaceState(3, "Title 2", "/");
        document.body.style.overflowY = 'auto';
        let modals = document.getElementById(id);
        modals.classList.remove('modal_visible');
    }

    router.add('m', function (params) {
        open_modal(params.id);
    });

    function page(page) {
        $('.load_page').css({'display':'inline-flex'});
        $('#next_page_but').remove();
        $.ajax({
            url: 'https://sp2all.ru/api/getSuppliers/?&page='+page+'&format=json',
            type: 'get',
            contentType: false,
            processData: false,
            dataType: 'json',
            success: function(data){
                console.log(data)
                if(data){
                    data.items.forEach(function(item){
                        var imgs1 = '';
                        item.imgs.forEach(function(img) {
                            if (img[205]) {
                                imgs1 += '<img src="https://sp2all.ru/' + img[205] + '">';
                            }
                        });
                        $('.row')
                            .append('  ' +
                                '<div class="row__col row__col_xs_12 row__col_sm_6 row__col_lg_4">' +
                                    '<div class="item">  ' +
                                        '<a href="?page='+page+'#m?id='+item.id+'" data-id="'+item.id+'" class="noLink">'+item.title+'</a>' +
                                        '<br><br>' +
                                        '<div>' +
                                            '<img src="https://sp2all.ru/'+item.imgs[0][100]+'">' +
                                        '</div>' +
                                        '<div class="modal modal_theme_grey " id="'+item.id+'">'+
                                            '<div class="modal__wrapper">'+
                                                '<div class="modal__dialog">' +
                                                '<div class="modal__close" onclick="return close_modal('+item.id+');"></div>'+imgs1+
                                                ' <p style="">'+item.desc+'</p>'+
                                                '</div>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>' +
                                '</div>')
                            .appendTo('.row');
                    });
                }
                $('.load_page').css({'display':'none'});
                $('.next_page').append('<a href="?page='+pagen+'" onclick="pagen++;page(pagen);return false;" id="next_page_but">Ещё</a>').appendTo('.next_page');
            }
        });
    }
   $('body').on('click','.noLink',(e)=>{
       e.preventDefault();
       history.replaceState(3, "Title", e.target.href);
       open_modal($(e.target).data('id'));
    });

</script>

<div class="container">
    <div class="row">
        <? foreach ($data_get->items as $value) {?>
        <div class="row__col row__col_xs_12 row__col_sm_6 row__col_lg_4">
            <div class="item">
                <div>
                    <a href="#m?id=<?= $value->id?>"><?= $value->title?></a>

                    <script>
                        router.add('<?= $value->id?>', function () {
                            open_modal('<?= $value->id?>');
                        });
                    </script>

                </div>
                <?if(!empty($value->imgs[0]->{0})){?>
                    <img src="https://sp2all.ru/<?= $value->imgs[0]->{0}?>" class="imgs">
                <?}else{?>
                    <img src="https://sp2all.ru/images/205_noimg.gif">
                <?}?>
                <div class="modal modal_theme_grey " id="<?= $value->id?>">
                    <div class="modal__wrapper">
                        <div class="modal__dialog">
                            <div class="modal__close" onclick="return close_modal(<?= $value->id?>);"></div>
                            <? foreach ($value->imgs as $val) {?>
                                <?if(!empty($value->imgs[0]->{205})){?>
                                    <img src="https://sp2all.ru/<?=$val->{205}?>">
                                <?}?>
                            <?}?>
                            <p style="color: #888888;text-align: left;outline: none;font-family: Arial, sans-serif;font-size: 12px;">
                                <?= $bb = BB::bb2html($value->desc);?>
                            </p>
                            <?  //echo bbcode($value->desc);?>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <?}?>
    </div>
</div>
<div>

    <div class="addButtom">
        <div class="next_page"></div>
        <div class="load_page"></div>
    </div>
</div>
