<div class="container clearfix">
  <p>Только у нас Вы можете приобрести 100% натуральный сок травы ЧИСТОТЕЛ (без добавок и консервантов).</p>
  <p>Сок изготовлен активным способом.</p>
  Это распространенное растение не зря называют Чистотелом: оно излечивает до 250 различных кожных болезней. Растение обладает  сильнейшими очистительными свойствами, ярко выраженным антисептическим действием, а также  обладает множеством  эффектов: болеутоляющим,  спазмолитическим,  антимикробным,  противовоспалительным,  противозудным,  ранозаживляющим,  мочегонным, прижигающим, слабительным  антиаллергическим.</p>

  <h3>ОСОБЕННОСТИ нашего препарата</h3>
  <ol>
    <li>нет добавок и консервантов;</li>
    <li>наш препарат изготовлен только из травы, сорванной во время цветения (Срок сбора сырья 10-15 дней);</li>
    <li>срок годности препарата - 5 лет, что обусловлено использованием специальной технологии изготовления сока и правил хранения (подтверждено на практике).</li>
  </ol>

  <p>Сбор травы сока чистотела во время цветения обусловлен исключительно наличием именно в этот период набора веществ, обладающего лечебными свойствами, используемыми в народной медицине.</p>
  <p>Так, химический состав сока чистотела представлен рядом сильнодействующих растительных веществ (алкалоидов), в том числе:  хелидонин, гомохелидонин, холеретрин, сангвинарин, протопин и др., (свыше 20);  эфирные масла; каротин; аскорбиновая кислота (до1000мг%); сапонины; флавоноиды  горечи; органические кислоты: хелидоновая, яблочная, лимонная и янтарная; смолистые вещества.</p>
  <p>Иные препараты, полученные из травы, сорванной не в период цветения или изготовленные из высушенной травы:  отвары, напары, настои и прочее, не содержат указанного выше набора веществ и лечебные свойства в таком случае сомнительны.</p>
  <p>Это также подтверждено на практике.</p>

  <p>Все рекомендации по применению чистотела, от Авиценны до профессора  Аминева А.М., адаптированы к использованию травы исключительно в период цветения, который составляет всего 10-20 дней.</p>
  <p>Наш препарат прошел токсикологические исследования в Ростовском научно-исследовательском онкологическом институте. Другие, более расширенные, исследования продалжаются и в настоящее время. Поэтому рекомендации по дозировке препарата для приема внутрь, мы даем индивидуально при покупке.</p>
  <p>Если Вы на других сайтах заказываете «живой сок» или «сок холодного отжима», поинтересуйтесь - из чего он изготовлен, и какими документами это подтверждается. И Вам все станет ясно! К нам обращаются люди, уже использовавшие такие соки, после того как не получили ни какого  результата.</p>
  <p>Нами используется технология изготовления сока чистотела, позволяющая хранить сок несколько лет без потери своих свойств, что позволяет использовать его в течение всего срока хранения.</p>
  <p>Сбор травы, для изготовления  предлагаемого сока, производится в экологически чистом месте, заповеднике, который находится на территории Ростовской области. Места сбора травы согласованы с Федеральной службой по надзору в сфере защиты прав потребителей и благополучия человека. Сырьем, для изготовления сока, служит свежесобранная трава, из которой в течение 4-х часов добывается сок, который по оригинальной технологии, без применения консервантов проходит обработку и очистку в течение 6 месяцев. Готовый продукт на 100% состоит из сока травы чистотела и сохраняет все ее свойства.</p>
  <p>Издавна известно, что это лекарственное растение  эффективно очищает кожу от прыщей и угрей, способствует излечению от кожных болезней,  удалению папиллом и бородавок.  Чистотел способен помочь даже в тяжелых случаях заболеваний.   Известно об эффективном  использовании сока   в комплексном  лечении онкологических болезней. Установлено, что чистотел задерживает рост злокачественных опухолей, поэтому рекомендуется  при наличии предопухолевых состояний (например полипоза), а  также после оперативного удаления раковых опухолей  как средство, тормозящее развитие метастазов.</p>
  <p>Подробнее о применении нашего продукта читайте в следующих разделах нашего сайта:</p>

  <ul>
  <? $pages = getPages(2) ?>
  <? foreach ($pages as $it) { ?>
      <li><a href="<?=$it['link']?>"><?=$it['name']?></a></li>
  <? } ?>
  </ul>

  <p>Cырьем для изготовления сока  служит свежесорванная  трава, а готовый продукт, на 100% состоит из сока травы чистотела. Вам предлагается сок, со дня изготовления которого, прошло не более года. Он не оказывает побочного действия на организм. В течение 2-3 минут после смазывания, сок впитывается, проникает вглубь смазанной части тела до корней болезни и оттуда начинает лечение, т.е. восстанавливает ткани больного участка тела. Кожа при этом остается мягкой. Сок предохраняет ее от попадания инфекции, образуя защитную пленку.</p>
  <p>Все, сказанное выше касается только сока чистотела изготовленного без применения консервантов, т.е. без спирта. Лабораторные исследования  подтвердили, что добавление спирта в сок изменяет его свойства настолько, что практически применение его для лечения нецелесообразно, т.к.  воздействующие на участок кожи  сильно снижается, а спирт еще и сушит кожу. Сок, полученный в другое время года, а  также отвары, настои не оказывают  воздействия такой силы.</p>
  <p>При использовании сока чистотела необходимо помнить, что любое лечение наиболее эффективно при комплексном подходе. Лишь сочетая средства традиционной и народной медицины, можно добиться хорошего устойчивого результата. Чем сложнее болезнь, тем больше контроля требуется со стороны профессионального врача. Он не только будет следить за состоянием Вашего организма, но и даст полезные советы о наиболее эффективных дозировках использования сока чистотела. Во всем важна мера, поэтому лечение даже натуральными лекарственными средствами должно быть строго сбалансированным.</p>
</div>
<?=echoBlock('zakaz')?>