<?=echoBlock('zakaz')?>
<div class="container clearfix">
    <p>Пожалуйста, обратите Ваше внимание.</p>

    <p>Приобрести сок чистотела можно только в нашем итренет-магазине. Взависимости от цели применения выберите необходимое Вам количество продукции,  добавьте в корзину и сформируйте заказ, следуя подсказкам.</p>
    <p>Отправка товара осуществляется наложенным платежом и только в пределах России.</p>
    <p>Сок чистотела применяется для лечения более чем 250 видов заболеваний. Следуя рецептам народной медицины Вы можете применять сок чистотела по своему усмотрению. Здесь вы можете заказать необходимое Вам количество сока чистотела. Минимальная поставка составляет - 100 мл.</p>
</div>
<?=echoBlock('tovar_list');?>