<section>
    <div class="container clearfix">
        <ul>
            <li>
                <h2>Очищение лица</h2>
                <p>Очищение лица от герпеса, прыщей, угрей, фурункулов и профилактический уход за кожей лица</p>
                <p>Сок чистотела оказывает регенерирующее воздействие на кожу лица, нормализуя работу кровеносных сосудов и капилляров. Регулярно протирая соком чистотела кожу лица Вы будете очищать её от пыли и грязи, а сок, проникая в поры, удалять инфекции и вирусы предотвращая последующее появление прыщей, герпеса и других неприятных образований на лице.</p>

                <h3>Способ применения</h3>
                <p>смочите ватный тампон соком и протрите, предварительно очищенное, лицо, через 2-3 минуты повторите процедуру. В наиболее проблемных местах (герпес, фурункул) приложите тампон и подержите 10 минут. В профилактических целях протирайте лицо ежедневно перед сном.</p>
            </li>
            <li>
                <h2>Полоскания полости рта</h2>
                <p>Месячный курс для ежедневного полоскания полости рта.</p>
                <p>Оказывает противовоспалительное антибактериальное воздействие, применяется при заболевании десен: пародонтоз, гингивит, цинга,  пародонтит. Регулярные полоскания полости рта соком чистотела навсегда избавит Вас от этих заболеваний.</p>
                <h3>Способ применения</h3>
                Применение сока чистотела: в стакан налить 100 мл теплой кипяченой воды, добавить 1мл сока чистотела. Необходимо проводить процедуры ежедневно перед сном. При кровоточивости лучше смазывать десны не разбавляя сок водой.
            </li>
            <li>
                <h2>Принятие ванн</h2>
                <p>Месячный 4-х разовый профилактический курс для принятия ванн с соком чистотела.</p>
                <p>После применения значительно улучшается и выравнивается текстура кожи, снимается раздражение и покраснения кожи, восстанавливается нормальное кровообращение.  В целом благоприятно воздействует на организм делая кожу чистой, мягкой, бархатистой и сияющей здоровьем.</p>
                <h3>Способ применения</h3>
                <p>Для профилактики нужно 25 мл сока чистотела налить в стакан с теплой водой и дать постоять 2-3 минуты. Затем вылить в ванную объемом 100л и температурой воды 38-39 °С, продолжительность процедуры 10-15 минут.</p>
                <p>Для принятия лечебно-оздоровительной ванны необходимо увеличить количество сока чистотела. Подробнее в разделе "Набор для комсетических ванн"</p>
            </li>
        </ul>
    </div>
</section>
<?=echoBlock('zakaz', [ 'kol' => 100 ])?>
<?=echoBlock( 'tovar_list' )?>
