<section>
    <div class="container clearfix">
        <ul>
            <li>
                <h2>Выведение бородавок и папиллом</h2>
                <p>В отличие от других средств, сок чистотела, при выведении абсолютно не наносит вреда здоровой коже, воздействуя непосредственно на бородавку. Процесс удаления проходит безболезненно и относительно быстро, не оставляя шрама.  Длительность выведения бородавки зависит от её размера и давности появления.</p>
                <p>Применение сока чистотела: перед нанесением сока чистотела отпарьте поврежденный участок кожи и соскоблите его стерильным инструментом. Бородавку натирайте соком чистотела 2-3 раза в день. Можно приклеить на бородавку ватный тампон, пропитанный соком чистотела, перед сном.</p>
            </li>
            <li>
                <h2>Проведение курса клизм</h2>
                <p>Проведение курса клизм с соком чистотела: 10 дней с 2мл сока на 100мл воды. Через 20 дней  повторить курс с 4мл сока. Лечебную клизму по этому рецепту от висячих родинок надо делать после очистительной и держать по возможности около часа. Выведенные висячие родинки это признак исчезновения полипов в толстом кишечнике.</p>
                <p>Если медицинское обследование показало доброкачественность образования висячей родинки, то удалить косметический дефект можно просто смазывая родинку соком чистотела 2-3 раза в день.</p>
                <p>Процедуры проводить только под наблюдением врача.</p>
            </li>
        </ul>
    </div>
</section>
<?=echoBlock('zakaz', [ 'kol' => 250 ])?>
<?=echoBlock( 'tovar_list' )?>
