<section>
    <div class="container clearfix">
        <ul>
            <li>
                <h2>Очищение лица</h2>
                <p>Рекомендуемый объем для применения в следующих случаях:</p>
                <p>Очищение лица от герпеса, прыщей, угрей, фурункулов и профилактический уход за кожей лица.</p>
                <p>Сок чистотела оказывает регенерирующее воздействие на кожу лица, нормализуя работу кровеносных сосудов и капилляров. Регулярно протирая соком чистотела кожу лица Вы будете очищать её от пыли и грязи, а сок, проникая в поры, удалять инфекции и вирусы предотвращая последующее появление прыщей, герпеса и других неприятных образований на лице.</p>
                <h3>Применение сока чистотела в косметических целях</h3>
                <p>смочите ватный тампон соком и протрите лицо, через 2-3 минуты повторите процедуру. В наиболее проблемных местах (герпес, фурункул) приложите тампон и подержите 10 минут. В профилактических целях протирайте лицо ежедневно перед сном.</p>
            </li>
        </ul>
    </div>
</section>
<?=echoBlock('zakaz', [ 'kol' => 50 ])?>
<?=echoBlock('tovar_list')?>
