<section class="row row8" id="contacts">
    <div class="map-wrapper hidden-sm hidden-xs hidden-md">
        <div class="map">
            <script type="text/javascript" charset="utf-8" async
                    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4ec7516397e633316690fe39bad2f9b67d2deb32f5565bd7736a2e1269da4458&amp;width=100%25&amp;height=600&amp;lang=ru_RU&amp;scroll=false"></script>
        </div>
    </div>
    <div class="row8-green"></div>
    <div class="container clearfix">
        <div class="col-sm-3 col-md-3">
            <h3>НАШИ КОНТАКТЫ</h3>
            <form name="fb" class="fb">
                <input name="name" type="text" placeholder="Ваше имя" required>
                <input name="mail" type="email" placeholder="Email" required>
                <textarea name="comment" placeholder="Задайте свой вопрос" required></textarea>
                <input class="button button2" type="submit" value="Отправить">
            </form>
        </div>
        <div class="col-sm-3 col-md-3">
            <ul class="contact">
                <li>
                    Ростовская обл.,<br>г. Новочеркасск,<br>ул. Станичная, 21
                </li>
                <li>
                    <a href="tel:+79518249944">+7 (951) 824-99-44</a>
                </li>
                <li>
                    <a href="malto:sok-chistotela@yandex.ru">sok-chistotela@yandex.ru</a>
                </li>
            </ul>
        </div>
    </div>
</section>
